.header {
    color: rgb(236, 164, 97);
    font-family: 'Courier New', Courier, monospace;
}
.list {
    font-family: 'Times New Roman', Times, serif;
align-items: center;
color: red;
background-color: rgb(104, 235, 126);

}
.misc {
    font-family: Georgia, 'Times New Roman', Times, serif;
color: yellow;
background-color: violet;
align-items: center;
}
p {
    color: turquoise;
}